.App {
  text-align: center;
  overflow: hidden;
}

.App-header {
  background-color: #2c5282;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.color {
  background-color:#ebf8ff;
  min-height: calc(100vh - 72px);
  padding: 20px;
}

.App-footer {
  background-color: #2c5282;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative;
}


